# Push Notification VAPID Keys
VAPID_PUBLIC_KEY=BAUEx1mLeML6y9WXuzC3roP8-vt8WBiuXZ3oZiXauGdQil_FIcohJh7nIXh9R66hEy90wDgat2Yd-1YVMEOAQPU
VAPID_PRIVATE_KEY=i7fALVzt-i6GDPZbzxnE5Y5hXzzRURZHZhE8YQ-d-hk
VAPID_EMAIL=hello@invoiceapp.ng

# Paystack
PAYSTACK_SECRET_KEY=your_paystack_secret_key_here
